<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Discussion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">
    <link rel='stylesheet' href='/fonts/bower_components/font-awesome/css/font-awesome.min.css'/>    
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/includes/sidenav.css'/>
    <link rel='stylesheet' href='/stylesheets/includes/navbar.css'/>    
    <link rel='stylesheet' href='/stylesheets/pages/timeline.css'/>
</head>
<body>
<my-app>Loading...</my-app>

<script src="/js/app/bundle.js"></script>
</body>
</html>
