body, html {
  padding: 0px;
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  background: #F7F7F7;
  height: 100% !important;
  color: #8D8B8B;
}

.background{
  position: relative;
  padding-left: 230px;
  padding-right: 70px;
  height: 100% !important;
}

.sidenav{
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  max-width: 230px;
  min-width: 230px;
  background: #171616;
  height: 100% !important;
  padding: 20px;
  padding-top: 15px;
}

.rightnav{
  position: fixed;
  right: 0px;
  top: 0px;
  bottom: 0px;
  max-width: 70px;
  min-width: 70px;
  background: #F7F7F7;
  height: 100% !important;
  padding: 20px;
  padding-top: 15px;
  border-left: 1px solid #E1DFDF;
}

