<div class="row">
    <div class="container">
        <div class="col l3">
            <detail></detail>
        </div>
        <posts></posts>
        <div class="col l3 timeline-right-side">
            <div class="card">
                <div class="card-content-top">
                    <p class="side-tile">Contacts online</p>
                </div>
                <div class="card-content-bottom">
                    <ul class="contacts-online">
                        <li>
                            <a href="">
                                <img src="/img/user-1.jpg" alt="user-image">
                                <span class="user-names">Beni Kabona</span>
                                <span class="online">0</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="/img/user-3.png" alt="user-image">
                                <span class="user-names">Beni Kabona</span>
                                <span class="online">0</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="/img/user-default.png" alt="user-image">
                                <span class="user-names">Beni Kabona</span>
                                <span class="away">0</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-content-top">
                    <p class="side-tile">My contacts</p>
                </div>
                <div class="card-content-bottom">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio rerum laborum voluptatem quas voluptates dolore, nemo quidem maxime dolor eius adipisci id, accusamus, vel earum quam reprehenderit qui ut omnis!                
                </div>
            </div>
        </div>
    </div>
</div>