<div class="col l6 m6 s6 left-column">
    <form>
        <input type="text" class="search" placeholder="&#xF002;" style="font-family:Ubuntu, FontAwesome">
    </form>
</div>
<div class="col l6 m6 s6 right-align right-column">
    <ul class="icons">
        <li class="icons-item">
            <a href="" class="icons-item-link">
                <i class="fa fa-bell-o" aria-hidden="true"></i>
                <span class="new-notification">2</span>
            </a>
        </li>
        <li class="icons-item">
            <a href="" class="icons-item-link">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <span class="new-message">5</span>
            </a>
        </li>        
    </ul>
</div>