<div class="row navbar-container">
    <div class="container">
        <div class="col l6 m6 s5 left-column">
            <input type="text" class="search" placeholder="&#xF002;" style="font-family:Oxygen, FontAwesome">
        </div>
        <div class="col l6 m6 s7 right-column">
            <ul class="icons">
                <li class="icons-item" *ngIf="isLoggedIn()" >
                    <a (click)="onLogout()" class="icons-item-link logout">
                        <span class="hide-on-small-only">Log out </span>
                        <span class="fa fa-sign-out"></span>
                    </a>
                </li>
                <li class="icons-item" *ngIf="!isLoggedIn()">
                    <a [routerLink]="['/auth']" class="icons-item-link login">
                        Log in
                    </a>
                </li>
                <li class="icons-item" *ngIf="isLoggedIn()">
                    <a href="" class="icons-item-link">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                        <span class="new-notification">2</span>
                    </a>
                </li>
                <li class="icons-item" *ngIf="isLoggedIn()">
                    <a href="" class="icons-item-link">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <span class="new-message">5</span>
                    </a>
                </li>
                <li class="icons-item" *ngIf="isLoggedIn()">
                    <a href="" class="icons-item-link">
                        <img src="/img/user-default.png" alt="">
                    </a>
                </li>          
            </ul>
        </div>
    </div>
</div>