<div class="row messages">
    <div class="container">
        <div class="col s12">
            <div class="card">
                <div class="row">
                    <div class="col l3 m3 s12 contacts">
                        <div class="row">
                            <div class="input-field col s11 search">
                                <input placeholder="&#xf4a4;" id="search" type="text">
                            </div>
                        </div>
                        <div class="row contacts-content">
                            <ul>
                                <li>
                                    <a href="">
                                        <img src="/img/user-1.jpg" alt="">
                                        <small class="online">0</small>
                                        <span class="user-names">Lizzy Keen</span>
                                        <span class="user-location icon ion-ios-location-outline">&nbsp; Kinshasa</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l3 m3 s12 contacts messages-previews">
                        <div class="row">
                            <div class="input-field col s11 search">
                                <input placeholder="&#xf4a4;" id="search" type="text">
                            </div>
                        </div>
                        <div class="row contacts-content">
                            <ul>
                                <li class="active-message">
                                    <a href="">
                                        <img src="/images/user-1.jpg" alt="">
                                        <span class="user-names">Lizzy Keen</span>
                                        <small class="ago right">a day ago</small>
                                        <span class="message-preview">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quaerat...
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="/images/user-2.jpg" alt="">
                                        <span class="user-names">Lizzy Keen</span>
                                        <small class="ago right">a day ago</small>
                                        <span class="message-preview">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quaerat...
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="/images/user-3.png" alt="">
                                        <span class="user-names">Lizzy Keen</span>
                                        <small class="ago right">a day ago</small>
                                        <span class="message-preview">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quaerat...
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="/images/user-default.png" alt="">
                                        <span class="user-names">Lizzy Keen</span>
                                        <small class="ago right">a day ago</small>
                                        <span class="message-preview">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quaerat...
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="/images/user-1.jpg" alt="">
                                        <span class="user-names">Lizzy Keen</span>
                                        <small class="ago right">a day ago</small>
                                        <span class="message-preview">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quaerat...
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="/images/user-2.jpg" alt="">
                                        <span class="user-names">Lizzy Keen</span>
                                        <small class="ago right">a day ago</small>
                                        <span class="message-preview">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quaerat...
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="/images/user-3.png" alt="">
                                        <span class="user-names">Lizzy Keen</span>
                                        <small class="ago right">a day ago</small>
                                        <span class="message-preview">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quaerat...
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="/images/user-default.png" alt="">
                                        <span class="user-names">Lizzy Keen</span>
                                        <small class="ago right">a day ago</small>
                                        <span class="message-preview">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quaerat...
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l6 m6 s12 contacts">
                        <div class="row display-message">
                            Beni Kabona
                            <p class="lign"></p>
                                <div class="row display-message-container">
                                    <div class="row">
                                        <div class="left">
                                            <img src="/images/user-1.jpg" alt="">
                                            <div class="left-message-content">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dolore, ex ipsa reprehenderit temporibus facere ea. Omnis quo veritatis, ipsa. Veniam, excepturi nisi nam consequatur earum, repellat voluptatum ducimus doloribus.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="right">
                                            <div class="right-message-content">
                                                Lorem ipsum dolor sit amet.
                                            </div>
                                            <img src="/images/user-2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="right">
                                            <div class="right-message-content">
                                                Lorem ipsum dolor sit amet.
                                            </div>
                                            <img src="/images/user-2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="left">
                                            <img src="/images/user-1.jpg" alt="">
                                            <div class="left-message-content">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quo veritatis, ipsa. Veniam, excepturi nisi nam consequatur earum.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field row new_message_container">
                                    <textarea placeholder="Your message" id="new_message" class="materialize-textarea new_message"></textarea>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>