<div class="col l6 posts">
    <posts-input></posts-input>
    <div class="card">
        <div class="card-content-top">
            <a href="" class="user-link">
                <img src="/img/user-1.jpg" alt="user-image">
                <span class="user-names">Beni Kabona</span>
                <span class="user-title">Senior web developer</span>
            </a>
            <span class="posted_at right">a day ago</span>
        </div>
        <div class="card-image">
            <img src="/img/posts/sample.jpg">
        </div>
        <div class="card-content-bottom">
            <p class="post-content">I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively. 
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis vitae error ut aperiam ab debitis sint, magnam perspiciatis! Corporis quasi dicta, odio laboriosam! Similique eius nulla possimus nemo, culpa aut, tenetur dolores commodi perferendis tempore ipsam ex dicta earum mollitia, autem, iste suscipit soluta nesciunt ducimus explicabo provident sunt quis consequuntur. </p>
            <div class="actions">
                <a href=""><span>15 Comments</span></a>
                <ul class="">
                    <li>
                        <a href="">
                            <span class="icon ion-android-favorite"></span>
                            <span class="like-count">20</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="icon ion-android-share-alt"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content-top">
            <a href="" class="user-link">
                <img src="/img/user-2.jpg" alt="user-image">
                <span class="user-names">Raymond Reddington</span>
                <span class="user-title">Security agent</span>
            </a>
            <span class="posted_at right">2 days ago</span>
        </div>
        <div class="card-content-bottom">
        <p class="post-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis vitae error ut aperiam ab debitis sint, magnam perspiciatis! Corporis quasi dicta, odio laboriosam! Similique eius nulla possimus nemo, culpa aut, tenetur dolores commodi perferendis tempore ipsam ex dicta earum mollitia, autem, iste suscipit soluta nesciunt ducimus explicabo provident sunt quis consequuntur. </p>
        <div class="actions">
            <a href=""><span>0 Comments</span></a>
            <ul class="">
                <li>
                    <a href="">
                        <span class="icon ion-android-favorite-outline"></span>
                        <span class="like-count">20</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon ion-android-share-alt"></span>
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content-top">
            <a href="" class="user-link">
                <img src="/img/user-3.png" alt="user-image">
                <span class="user-names">Elizabeth Keen</span>
                <span class="user-title">Secret agent</span>
            </a>
            <span class="posted_at right">a second ago</span>
        </div>
        <div class="card-content-bottom">
        <p class="post-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit... </p>
        <div class="actions">
            <a href=""><span>10 Comments</span></a>
            <ul class="">
                <li>
                    <a href="">
                        <span class="icon ion-android-favorite-outline"></span>
                        <span class="like-count">5</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon ion-android-share-alt"></span>
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>