<div class="details">
    <div class="card">
        <a href="" class="user-image-link center-align">
            <img src="/img/user-1.jpg" alt="user-image">
        </a>
        <p>
            <span class="user-names">Beni Kabona</span><br>
            <span class="user-title">Senior web developer</span>
        </p>
        <div class="row user-details">
            <ul>
                <li class="contacts">
                    <a href="">
                        <span class="icon ion-social-facebook"></span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="user-details-number">5</span>
                        <span>Posts</span>
                    </a>
                </li>
            </ul>
        </div>
                
        <p>is tempore quibusdam architecto, distinctio eum magni a cumque quaerat ullam nam doloremque earum eveniet modi, nobis adipisci fugit. Optio, in!</p>
    </div>
</div>