<div class="row menu">
    <div class="container">
        <ul>
            <li>
                <a [routerLink]="['/timeline']" [routerLinkActive]="['active-menu']">
                    <span class="icon ion-android-bookmark"></span>
                    <span class="text hide-on-med-and-down">Timeline</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/messages']" [routerLinkActive]="['active-menu']">
                    <span class="icon ion-android-mail"></span>
                    <span class="text hide-on-med-and-down">Messages</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon ion-android-hangout"></span>
                    <span class="text hide-on-med-and-down">Rooms</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/contacts']" [routerLinkActive]="['active-menu']">
                    <span class="icon ion-android-contacts"></span>
                    <span class="text hide-on-med-and-down">Contacts</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon ion-android-wifi"></span>
                    <span class="text hide-on-med-and-down">Explorer</span>
                </a>
            </li>
        </ul>
    </div>
</div>